.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header h2 {
  font-size: 24px;
  font-weight: 600;
  /* background-color: linear-gradient(to right, #dfff7e, #2dd4bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: rgb(#dfff7e, #dfff7e,#dfff7e);
}

.button-group {
  display: flex;
  gap: 8px;
}
.today-btn {
  background: linear-gradient(to right, #dfff7e, #2dd4bf);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}


.button-group button {
  padding: 4px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.button-group .add-btn {
  background: linear-gradient(to right, #dfff7e, #2dd4bf);
  color: white;
  border: none;
}

.tabs {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}

.tabs button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 4px;
  color: #888;
  position: relative;
}

.tabs .active {
  color: transparent;
  background: linear-gradient(to right, #dfff7e, #2dd4bf);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  border-bottom: 2px solid #86efac;
}

.month-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.cell {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 100px;
  position: relative;
  padding: 4px;
  font-size: 12px;
}

.cell .date {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #999;
  font-size: 10px;
}

.event {
  background: #fef3c7;
  color: #92400e;
  font-size: 10px;
  margin-top: 20px;
  padding: 2px 4px;
  border-radius: 4px;
} 
.color {
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(to right, #bcdd5a, #2dd4bf, #2dd4bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
